[Unit]
Description=Book app service

[Service]
Type=simple
User=ec2-user
ExecStart=/usr/bin/dotnet /opt/bookapp/BookAPI.dll

[Install]
WantedBy=multi-user.target